@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;

}

#root {
    animation: fadeIn 1.5s;
}

.text-gradient {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hidescroll::-webkit-scrollbar {
    display: none;
}

.loader {
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: shimmer 5s infinite linear;
}

.fadeIn {
    animation: fadeIn 1.5s;
}

@keyframes shimmer {
    0% {
        background-position: -800px 0;
    }

    100% {
        background-position: 800px 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}